apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: smart-irrigation-dev

resources:
  - ../../base

namePrefix: dev-

commonLabels:
  environment: development

replicas:
  - name: auth-service
    count: 1
  - name: irrigation-service
    count: 1
  - name: forecasting-service
    count: 1
  - name: optimization-service
    count: 1

patches:
  - patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/resources/limits/memory
        value: 256Mi
    target:
      kind: Deployment
