# Gateway Service environment
CONFIG_ENABLED=true
CONFIG_SERVER_URL=http://localhost:8010
CONFIG_PROFILE=docker
CONFIG_SERVICE_NAME=gateway
CONFIG_TIMEOUT_SEC=3
CONFIG_FAIL_FAST=false

HOST=0.0.0.0
PORT=8000

AUTH_SERVICE_URL=http://127.0.0.1:8001
IRRIGATION_SERVICE_URL=http://127.0.0.1:8002
FORECASTING_SERVICE_URL=http://127.0.0.1:8003
PLANNING_SERVICE_URL=http://127.0.0.1:8004
IOT_SERVICE_URL=http://127.0.0.1:8006
CROP_HEALTH_SERVICE_URL=http://127.0.0.1:8007
